/* ========================== Global Styling ============================ */
:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    font-size: 13px;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-grayish-blue);
    color: var(--grayish-blue);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

/* ======================= Card ============================== */
.card {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 50%;
    min-height: 35vh;
    max-height: 70vh;
}

.drawer-img {
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    border-radius: 0 1rem 1rem 0;
    max-width: 60%;
    padding: 2rem 3rem;
    background-color: white;
}

.heading {
    font-size: 1.5rem;
}

.heading,
.name {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.description {
    padding: 1rem 0;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    margin-right: 1rem;
    width: 2.3rem;
}

.avatar > img {
    border-radius: 50%;
    width: 100%;
    vertical-align: bottom;
}

.share {
    transition: all 0.3s ease;
    border: none;
    border-radius: 50%;
    padding: 0.7rem;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
}

.share:hover {
    background-color: var(--grayish-blue);
}

/* =========================== Tooltip ============================ */

.links {
    position: absolute;
    right: -3rem;
    bottom: 6rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all 0.3s ease;
    animation-name: fade-out;
    animation-duration: 2s;
    box-shadow: 2px 1px 8px 5px var(--light-grayish-blue);
    border-radius: 0.8rem;
    width: fit-content;
    padding: 0.7rem 2rem;
    background-color: var(--very-dark-grayish-blue);
}

.links::after {
    box-shadow: 1x 1px 1px 1px var(--light-grayish-blue);
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--very-dark-grayish-blue) transparent transparent
        transparent;
}

.share:hover .links {
    visibility: visible;
}

.links p {
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }
    to {
        opacity: 50%;
    }
}

.show-tooltip {
    visibility: visible;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}

.link {
    padding-left: 1rem;
}

/* ======================== Media Queries ========================== */

@media (max-width: 1170px) {
    .card-info {
        padding: 1.5rem;
    }

    .links {
        right: -4rem;
    }
}

@media (max-width: 1000px) {
    .card {
        flex-direction: column;
    }

    .drawer-img {
        border-radius: 1rem 1rem 0 0;
    }

    .card-info {
        border-radius: 0 0 1rem 1rem;
        max-width: 100%;
        padding: 2.5rem 0 0;
    }

    .heading {
        padding: 1rem 2.5rem;
    }

    .description {
        padding: 2rem 2.5rem;
    }

    .author-info {
        padding-top: 1rem;
    }

    .name-section {
        position: relative;
        z-index: 1;
        left: 3rem;
        bottom: -3.5rem;
    }

    .share {
        position: relative;
        left: -3rem;
        bottom: -3.5rem;
        z-index: 6;
    }

    .links {
        position: relative;
        z-index: 5;
        left: 0;
        bottom: 0;
        justify-content: flex-start;
        border-radius: 0 0 1rem 1rem;
        width: 100%;
        padding: 1.3rem 0;
    }

    .links::after {
        display: none;
    }

    .links p {
        padding: 0 2.5rem;
    }

    .link {
        padding-right: 2rem;
    }

    .link-pinterest {
        padding-right: 1rem;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 80%;
    }
    .heading,
    .description {
        padding: 1rem 2rem;
    }

    .heading {
        font-size: 1.2rem;
    }

    .author-info {
        padding-top: 0;
    }

    .links p {
        padding: 0 1.5rem;
    }

    .link {
        padding-right: 0.5rem;
    }
}
